asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
distlib==0.3.8
Django==4.1.13
djongo==1.3.6
dnspython==2.6.1
filelock==3.16.0
idna==3.9
pillow==10.4.0
pipenv==2024.0.2
platformdirs==4.3.3
pymongo==4.8.0
razorpay==1.4.2
requests==2.32.3
setuptools==74.1.2
sqlparse==0.2.4
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.4
